#header{
    position: fixed;
    width: 62vw;
    left: 20vw;
    top:0;
    background-color: #1B1B1B;
    height: 180px;
}

#heading{
    font-size: 45px;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #FFA31A;
    border-radius: 5px;
    padding:0 0 0 10px;
}

.firstli{
    display: inline;
    width: 20%;
    background-color: #1B1B1B;
    color:#ffffff;
    font-weight:bold;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

#menu{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#left{
    left: 0;
}

#right{
    left: 83vw;
}

#left, #right{
    width: 17vw;
    color:white;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    background-color: #1B1B1B;
    padding: 40px 1% 40px 1%;
}

#main{
    position: absolute;
    top:180px;
    margin: 0 20vw 0 20vw;
    width: 62vw;
    height: auto;
    color:#ffffff;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    padding: auto;
    width: 100%;
    z-index: -1;
    height: auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:auto;
    background-color: #000000;
}

